In [1]:
import os
import pandas as pd
from tqdm import tqdm
from yaml import safe_load
import pickle
import numpy as np


data_dir = '/Users/nikhil/Desktop/final_research_project_git/research_project/2024_male'


if not os.path.isdir(data_dir):
    print(f"Directory '{data_dir}' does not exist.")
else:
    filenames = [os.path.join(data_dir, file) for file in os.listdir(data_dir) if file.endswith('.yaml')]
    dfs = []

    for counter, file in tqdm(enumerate(filenames), desc="Processing files", total=len(filenames)):
        try:
            with open(file, 'r', encoding='utf-8') as f:
                df = pd.json_normalize(safe_load(f))
                df['match_id'] = counter + 1
                dfs.append(df)
        except Exception as e:
            print(f"Error processing file '{file}': {e}")

    final_df = pd.concat(dfs, ignore_index=True)
    pickle.dump(final_df, open('matches.pkl', 'wb'))

Processing files: 100%|██████████| 827/827 [01:39<00:00,  8.29it/s]

In [2]:
matches = pickle.load(open('matches.pkl', 'rb'))
delivery_data = []

for index, row in matches.iterrows():
    for delivery in row['innings'][0]['1st innings']['deliveries']:
        for ball_number, details in delivery.items():
            delivery_data.append({
                'match_id': row['match_id'],
                'batting_team': row['innings'][0]['1st innings']['team'],
                'ball': ball_number,
                'batsman': details['batsman'],
                'bowler': details['bowler'],
                'runs': details['runs']['total'],
                'player_dismissed': details.get('wicket', {}).get('player_out', '0'),
                'city': row['info.city'],
                'venue': row['info.venue']
            })

delivery_df = pd.DataFrame(delivery_data)
delivery_df.to_csv('delivery_data.csv', index=False)

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency

# Load the data
delivery_df = pd.read_csv('delivery_data.csv')
matches = pd.read_pickle('matches.pkl')

# Further process match details
matches['Date'] = pd.to_datetime(matches['info.dates'].str[0], errors='coerce')

# Merge delivery data with match details
combined_df = pd.merge(delivery_df, matches, on='match_id', how='inner')

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_17661/3826655051.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  matches['Date'] = pd.to_datetime(matches['info.dates'].str[0], errors='coerce')

In [4]:
columns_to_drop = [
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
]

# Use set intersection to find columns that actually exist in your DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in combined_df.columns]

# Drop only the existing columns
combined_df.drop(columns=existing_columns_to_drop, inplace=True)

In [5]:
combined_df=combined_df[combined_df['info.gender']=='male']

In [6]:
combined_df.drop(columns=['info.gender'],inplace=True)

In [7]:
combined_df = combined_df[combined_df['info.overs'] == 20]
combined_df.drop(columns=['info.overs','info.match_type'],inplace=True)

In [8]:
def bowl(row):
    for team in row['info.teams']:
        if team != row['batting_team']:
            return team

In [9]:
combined_df['bowling_team'] = combined_df.apply(bowl,axis=1)

In [10]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'
]

In [11]:
combined_df = combined_df[combined_df['batting_team'].isin(teams)]
combined_df = combined_df[combined_df['bowling_team'].isin(teams)]

In [12]:

columns = ['match_id', 'batting_team', 'ball', 'batsman', 'bowler', 'runs',
           'player_dismissed', 'city', 'venue', 'innings', 'info.city',
           'info.dates', 'info.outcome.winner', 'info.player_of_match',
           'info.toss.decision', 'info.toss.winner', 'info.umpires', 'info.venue',
           'Date', 'bowling_team']

# Create a dictionary to map old column names to new column names where 'info.' is removed
rename_dict = {col: col.replace('info.', '') for col in columns if 'info.' in col}

# Renaming the columns in the DataFrame
combined_df.rename(columns=rename_dict, inplace=True)

In [13]:
# Convert the 'Date' column to datetime format without indexing if it's already a string or datetime
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

In [14]:

if isinstance(combined_df['info.teams'].iloc[0], list):
    combined_df[['Team 1', 'Team 2']] = pd.DataFrame(combined_df['info.teams'].tolist(), index=combined_df.index)
    combined_df.drop(columns='info.teams', inplace=True)
else:
    print("Teams column is not in expected list format")

In [15]:
rename_columns = {
    'toss.winner': 'toss_winner',
    'outcome.winner': 'match_winner',
    'player_of_match': 'player_of_the_match',  
    'toss.decision': 'toss_decision'
}


combined_df.rename(columns=rename_columns, inplace=True)

In [16]:
combined_df.drop(columns='innings', inplace=True)

In [17]:
combined_df.drop(columns='umpires', inplace=True)

In [18]:
# Reorganizing columns to group related data together
organized_columns = [
    'match_id',
    'Team 1', 'Team 2',  # Grouping team information
    'batting_team', 'bowling_team',  # Further grouping team interaction
    'ball',   # Game progression details
    'batsman', 'bowler', 'runs', 'player_dismissed',  # Delivery-specific details
    'city', 'venue', 'Date',  # Location and time of the match
    'toss_winner', 'toss_decision',  # Toss details
    'match_winner', 'player_of_the_match' # Outcome details

]


combined_df = combined_df[organized_columns]

In [19]:
# Drop duplicate columns by selecting the first occurrence
combined_df = combined_df.loc[:,~combined_df.columns.duplicated()]

In [20]:
cities = np.where(combined_df['city'].isnull(),combined_df['venue'].str.split().apply(lambda x:x[0]),combined_df['city'])

In [21]:
combined_df['city'] = cities

In [22]:
# Filtering the DataFrame to find rows where 'player_of_the_match' is null
null_potm_df = combined_df[combined_df['player_of_the_match'].isnull()]

# Count the initial number of rows for reference
initial_count = combined_df.shape[0]

# Drop rows where 'player_of_the_match' is NaN
combined_df.dropna(subset=['player_of_the_match'], inplace=True)

# Count the final number of rows to calculate how many were dropped
final_count = combined_df.shape[0]
rows_dropped = initial_count - final_count

In [23]:
combined_df['current_score'] = combined_df.groupby('match_id').cumsum()['runs']

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_17661/3779091949.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  combined_df['current_score'] = combined_df.groupby('match_id').cumsum()['runs']

In [24]:
combined_df['over'] = combined_df['ball'].apply(lambda x:str(x).split(".")[0])
combined_df['ball_no'] = combined_df['ball'].apply(lambda x:str(x).split(".")[1])

In [25]:
combined_df['balls_bowled'] = (combined_df['over'].astype('int')*6) + combined_df['ball_no'].astype('int')

In [26]:
combined_df['balls_left'] = 120 - combined_df['balls_bowled']
combined_df['balls_left'] = combined_df['balls_left'].apply(lambda x:0 if x<0 else x)

In [27]:
combined_df['player_dismissed'] = combined_df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
combined_df['player_dismissed'] = combined_df['player_dismissed'].astype('int')
combined_df['player_dismissed'] = combined_df.groupby('match_id').cumsum()['player_dismissed']
combined_df['wickets_left'] = 10 - combined_df['player_dismissed']

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_17661/380341676.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  combined_df['player_dismissed'] = combined_df.groupby('match_id').cumsum()['player_dismissed']

In [28]:
combined_df['crr'] = (combined_df['current_score']*6)/combined_df['balls_bowled']

In [29]:
groups = combined_df.groupby('match_id')

match_ids = combined_df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_17661/1897754388.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Team 1', 'Team 2', 'batsman', 'batting_team', 'bowler',
       'bowling_team', 'city', 'match_winner', 'player_of_the_match',
       'toss_decision', 'toss_winner', 'venue'],
      dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())
/var/folders/zk/yt14z40j2lb2lz548fqr3v9m0000gn/T/ipykernel_17661/1897754388.py:6: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['Date', 'Team 1', 'Team 2', 'batsman', 'batting_team', 'bowler',
       'bowling_team', 'city', 'player_of_the_match', 'toss_decision',
       'toss_winner', 'venue'],
      dtype='object')
  last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [30]:
combined_df['last_five'] = last_five

In [31]:

combined_df.loc[:, 'run_rate'] = combined_df['current_score'] / (120 - combined_df['balls_left']) * 6
combined_df.loc[:, 'wickets_rate'] = combined_df['wickets_left'] / (120 - combined_df['balls_left']) * 6

# Using vectorized operations to create the Pressure Factor
combined_df.loc[:, 'pressure_factor'] = combined_df.apply(
    lambda row: row['last_five'] / (10 - row['wickets_left']) if row['wickets_left'] < 10 else row['last_five'],
    axis=1
)

In [32]:
# Replace infinite or NaN values which may have been introduced
combined_df.replace([np.inf, -np.inf], np.nan, inplace=True)
combined_df.fillna(0, inplace=True)

In [33]:
import requests
import pandas as pd
from tqdm import tqdm

# Function to fetch weather data
def get_weather_data(api_key, location, date):
    url = f"https://api.worldweatheronline.com/premium/v1/past-weather.ashx"
    params = {
        'key': api_key,
        'q': location,
        'date': date.strftime('%Y-%m-%d'),  # Ensure date is in YYYY-MM-DD format
        'format': 'json'
    }
    response = requests.get(url, params=params)
    if response.status_code == 200:
        data = response.json()
        if 'weather' in data['data']:
            return data['data']['weather'][0]
        else:
            print(f"No weather data for {location} on {date}")
            return None
    else:
        print(f"Error fetching data for {location} on {date}: {response.status_code}")
        return None

api_key = 'cc6e60b3cb3c4b788ff123310241607'

# Ensure no missing values in key columns before fetching weather data
assert combined_df[['match_id', 'city', 'Date']].isnull().sum().sum() == 0

# Dictionary to store fetched weather data for each match_id
weather_data_cache = {}

# Fetch and add weather data
weather_data = []
for index, row in tqdm(combined_df.iterrows(), total=combined_df.shape[0], desc="Fetching weather data"):
    match_id = row['match_id']
    if match_id not in weather_data_cache:
        weather = get_weather_data(api_key, row['city'], row['Date'])
        if weather:
            weather_info = {
                'match_id': match_id,
                'max_tempC': weather.get('maxtempC', None),
                'min_tempC': weather.get('mintempC', None),
                'sun_hour': weather.get('sunHour', None),
                'total_precip_mm': weather.get('totalprecipMM', None)
            }
            weather_data_cache[match_id] = weather_info
        else:
            weather_data_cache[match_id] = {
                'match_id': match_id,
                'max_tempC': None,
                'min_tempC': None,
                'sun_hour': None,
                'total_precip_mm': None
            }
    
    weather_data.append(weather_data_cache[match_id])

weather_df = pd.DataFrame(weather_data)

# Convert weather data columns to numeric, handling errors
weather_df['max_tempC'] = pd.to_numeric(weather_df['max_tempC'], errors='coerce')
weather_df['min_tempC'] = pd.to_numeric(weather_df['min_tempC'], errors='coerce')
weather_df['sun_hour'] = pd.to_numeric(weather_df['sun_hour'], errors='coerce')
weather_df['total_precip_mm'] = pd.to_numeric(weather_df['total_precip_mm'], errors='coerce')

# Merge with combined_df
combined_df = pd.merge(combined_df, weather_df, on='match_id', how='left')

# Handle missing data
combined_df['max_tempC'].fillna(combined_df['max_tempC'].mean(), inplace=True)
combined_df['min_tempC'].fillna(combined_df['min_tempC'].mean(), inplace=True)
combined_df['sun_hour'].fillna(combined_df['sun_hour'].mean(), inplace=True)
combined_df['total_precip_mm'].fillna(0, inplace=True)  # Assuming 0 precipitation if data is missing

print(combined_df.isnull().sum())

Fetching weather data: 100%|██████████| 5994/5994 [00:10<00:00, 581.38it/s]

match_id               0
Team 1                 0
Team 2                 0
batting_team           0
bowling_team           0
ball                   0
batsman                0
bowler                 0
runs                   0
player_dismissed       0
city                   0
venue                  0
Date                   0
toss_winner            0
toss_decision          0
match_winner           0
player_of_the_match    0
current_score          0
over                   0
ball_no                0
balls_bowled           0
balls_left             0
wickets_left           0
crr                    0
last_five              0
run_rate               0
wickets_rate           0
pressure_factor        0
max_tempC              0
min_tempC              0
sun_hour               0
total_precip_mm        0
dtype: int64

In [34]:
combined_df.drop(columns=['total_precip_mm'], inplace=True)

In [35]:
# Set to collect unique representations of the lists
unique_lists = set()

# Loop through the column and add unique list types to the set
for item in combined_df['player_of_the_match']:
    if isinstance(item, list):
        # Convert list to a tuple (which is hashable and can be added to a set)
        unique_lists.add(tuple(item))

# Print each unique list found in the column
for unique_list in unique_lists:
    print(list(unique_list))  # Convert tuple back to list for nicer formatting

['Nazmul Hossain Shanto']
['V Kohli']
['Naveen-ul-Haq']
['Gulbadin Naib']
['AD Mathews']
['MS Chapman']
['RL Chase']
['FH Allen']
['BA King']
['Iftikhar Ahmed']
['N Thushara']
['J Charles']
['M Pathirana']
['PJ Cummins']
['RG Sharma']
['AD Russell']
['N Pooran']
['PD Salt']
['MR Marsh']
['S Dube']
['AR Patel']
['M Jansen']
['Q de Kock']
['H Klaasen']
['A Zampa']
['HH Pandya']
['DJ Mitchell']
['Rishad Hossain']
['Rahmanullah Gurbaz']
['JC Buttler']
['MW Short']
["W O'Rourke"]
['A Nortje']
['JJ Bumrah']
['T Shamsi']
['DA Warner']
['GJ Maxwell']
['SA Yadav']
['KIC Asalanka']
['Shaheen Shah Afridi']
['AU Rashid']
['SE Rutherford']

In [36]:
# Convert list of names to a single underscore-separated string
combined_df['player_of_the_match'] = combined_df['player_of_the_match'].apply(
    lambda x: '_'.join(x).replace(' ', '_') if isinstance(x, list) else x.replace(' ', '_')
)

In [37]:
# Assert no entries are lists
assert not combined_df['player_of_the_match'].apply(isinstance, args=(list,)).any(), "Some entries are still lists."

# Optional: Check if all entries are strings now
assert combined_df['player_of_the_match'].apply(isinstance, args=(str,)).all(), "Not all entries are strings."

In [38]:
# Find duplicated rows
duplicates = combined_df[combined_df.duplicated(keep=False)]  # 'keep=False' marks all duplicates as True

# Display the duplicated rows to understand what data is being repeated
duplicates.head()

,match_id,Team 1,Team 2,batting_team,bowling_team,ball,batsman,bowler,runs,player_dismissed,...,balls_left,wickets_left,crr,last_five,run_rate,wickets_rate,pressure_factor,max_tempC,min_tempC,sun_hour
0,10,South Africa,Bangladesh,South Africa,Bangladesh,0.1,Q de Kock,Tanzim Hasan Sakib,0,0,...,119,10,0.0,0.0,0.0,60.0,0.0,24,15,15.0
1,10,South Africa,Bangladesh,South Africa,Bangladesh,0.1,Q de Kock,Tanzim Hasan Sakib,0,0,...,119,10,0.0,0.0,0.0,60.0,0.0,24,15,15.0
2,10,South Africa,Bangladesh,South Africa,Bangladesh,0.1,Q de Kock,Tanzim Hasan Sakib,0,0,...,119,10,0.0,0.0,0.0,60.0,0.0,24,15,15.0
3,10,South Africa,Bangladesh,South Africa,Bangladesh,0.1,Q de Kock,Tanzim Hasan Sakib,0,0,...,119,10,0.0,0.0,0.0,60.0,0.0,24,15,15.0
4,10,South Africa,Bangladesh,South Africa,Bangladesh,0.1,Q de Kock,Tanzim Hasan Sakib,0,0,...,119,10,0.0,0.0,0.0,60.0,0.0,24,15,15.0

In [39]:
# Removing duplicates, keeping the first occurrence
cleaned_df = combined_df.drop_duplicates(keep='first')

# Verifying the change
print(f"Original DataFrame size: {combined_df.shape}")
print(f"Cleaned DataFrame size: {cleaned_df.shape}")

Original DataFrame size: (739346, 31)
Cleaned DataFrame size: (5994, 31)

In [40]:
# Check if there are any duplicates left
remaining_duplicates = cleaned_df.duplicated().sum()
print(f"Remaining duplicates after cleaning: {remaining_duplicates}")

Remaining duplicates after cleaning: 0

In [41]:
cleaned_df.to_csv('cleaned_df_with_temp_not_used.csv.gz', index=False, compression='gzip')